body {
  margin: 0;
  padding: 0;
  background: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  margin-top: 10px;
  margin-bottom: 10px;
}

h4 {
  font-size: 18px;
}

p {
  margin: 0 0 10px;
  font-size: 14px;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:hover {
  color: #23527c;
  text-decoration: underline;
}

/* fade in */
@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* slide down */
@-webkit-keyframes slidedown {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(0);
  }
}
@-moz-keyframes slidedown {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes slidedown {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(0);
  }
}
